{#{% extends "layout.html.twig" %}#}

{#{% block content %}#}
    {#<form action="{{ path('form') }}" method="post">#}
        {#<p>Input money value: <input type="text" name="money"/></p>#}
        {#<p><input type="submit"/></p>#}
    {#</form>#}
    {#<body>#}
    {#<p id="">{{ pagination }}<br></p>#}
    {#</body>#}
{#{% endblock %}#}